<div class="jumbotron">
  <h1>Welcome to Chef App</h1>
  <h2>Let's see what you've got!</h2>
  <p><%= link_to "Sign up or Log in", "#", class:"btn btn-info btn-lg" %> </p>
  <div class="row">
    <div class="col-sm-4">
      <h2>Top Appetizer</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p><%= link_to "View Recipe", "#", class:"btn btn-info btn-md" %> </p>
    </div>
    <div class="col-sm-4">
      <h2>Top Entree</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p><%= link_to "View Recipe", "#", class:"btn btn-info btn-md" %> </p>
    </div>
    <div class="col-sm-4">
      <h2>Top Dessert</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <p><%= link_to "View Recipe", "#", class:"btn btn-info btn-md" %> </p>
    </div>
  </div>  
</div>