@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color:#70bc79;
}
.jumbotron {
  background-image:asset-url('cuttingboard.jpg');
  background-size:cover;
}

.description {
  margin-top: 0;
}

.well a {
  
}
.recipe-avatar {
  margin-top: 10px;
}

body {
  margin-top: 60px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color:#70bc79;
  font-weight: bold;
  font-size: 1.25em;
}