@import "bootstrap-sprockets";
@import "bootstrap";
a {
  color:#70bc79;
}
.navbar {
  background-color:#70bc79;
}
.jumbotron {
  background-image:asset-url('cuttingboard.jpg');
  background-size:cover;
}
.btn-info {
  background-color:#70bc79;
}

.description {
  margin-top: 0;
}
.badge {
  color: #fff;
  background-color:#70bc79;
}
.badge a {
  color: #fff;
}
.recipe-avatar {
  margin-top: 10px;
}
body {
  margin-top: 60px;
}
.listing {
  list-style: none;
  padding-left: 0;
}
.chef-title {
  color:#70bc79;
  font-weight: bold;
  font-size: 1.25em;
}
.input_checkbox {
  width: auto !important;
}
.well {
  background-color: #eee;
}
.center-block {
  float: none;
}
.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}
.message-container {
  .form-control{
    float: left;
    width: 80%;
    height: 54px;
  }
  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}
.messages {
  height: 16em;
  position: relative;
  overflow: auto;
}