@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  background-color:#70bc79;
}
.jumbotron {
  background-image:asset-url('cuttingboard.jpg');
  background-size:cover;
  margin-top:60px;
}

.description {
  margin-top: 0;
}

.well a {
  
}
.recipe-avatar {
  margin-top:10px;
}